{
  "parser": "babel-eslint",
  "extends": [
    //"react-app",
    "airbnb",
    "prettier",
    "plugin:jsx-a11y/recommended",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/no-unused-prop-types": 0,
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/label-has-for": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "plugins": [
    "jsx-a11y",
    "react-hooks",
    "prettier"
  ]
}
